body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.showcase {
  background-color: #0e6f87;
  color: #fff;
  height: 600px;
}
.showcase nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.showcase nav ul {
  display: flex;
  list-style: none;
}
.showcase nav li {
  padding: 15px;
}
.showcase nav a {
  transition: color 0.15s;
}
.showcase nav a:hover {
  color: #e67b02;
}
.showcase a {
  color: #fff;
}
.showcase img {
  width: 50%;
}
.showcase-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.showcase-content h1 {
  font-size: 50px;
  line-height: 1.2;
}

@media (max-width: 700px) {
  .showcase {
    height: 600px;
  }
  .showcase-content {
    text-align: center;
    flex-direction: column;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

.m-1 {
  margin: 1 rem;
}

.my-1 {
  margin: 1 rem 0;
}

.p-1 {
  padding: 1 rem;
}

.py-1 {
  padding: 1 rem 0;
}

.m-2 {
  margin: 2 rem;
}

.my-2 {
  margin: 2 rem 0;
}

.p-2 {
  padding: 2 rem;
}

.py-2 {
  padding: 2 rem 0;
}

.m-3 {
  margin: 3 rem;
}

.my-3 {
  margin: 3 rem 0;
}

.p-3 {
  padding: 3 rem;
}

.py-3 {
  padding: 3 rem 0;
}

.m-4 {
  margin: 4 rem;
}

.my-4 {
  margin: 4 rem 0;
}

.p-4 {
  padding: 4 rem;
}

.py-4 {
  padding: 4 rem 0;
}

.m-5 {
  margin: 5 rem;
}

.my-5 {
  margin: 5 rem 0;
}

.p-5 {
  padding: 5 rem;
}

.py-5 {
  padding: 5 rem 0;
}

.btn-secondary, .btn-primary {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
  transition: transform 0.15s;
}
.btn-secondary:hover, .btn-primary:hover {
  transform: scale(0.98);
}

.btn-primary {
  background-color: #094959;
  color: #fff;
}

.btn-secondary {
  background-color: #e67b02;
  color: #fff;
}