* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

.btn-secondary, .btn-primary {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
  transition: transform 0.15s;
}
.btn-secondary:hover, .btn-primary:hover {
  transform: scale(0.98);
}

.btn-primary {
  background: linear-gradient(to-right, darkorange 75%, red);
}

.btn-secondary {
  background-color: #e67b02;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.showcase {
  background-color: #0e6f87;
  color: white;
  height: 600px;
}
.showcase nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.showcase nav ul {
  display: flex;
  list-style: none;
}
.showcase nav li {
  padding: 15px;
}
.showcase nav a:hover {
  color: #e67b02;
}
.showcase a {
  color: white;
}
.showcase img {
  width: 50%;
}
.showcase-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.showcase-content h1 {
  font-size: 50px;
  line-height: 1.2;
}
.showcase-content p {
  margin: 20px 0;
}