%btn{
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px;
    transition: transform .15s;

    &:hover{
        transform: scale(.98);
    }
}

.btn-primary{
    @extend %btn;
    @include set-background(darken($primary-color, 60%))
}

.btn-secondary{
    @extend %btn;
    @include set-background($secondary-color)
}