// Is not compiled due to the underscore which indicates it's a Partial
$light-color: #f4f4f4;   //Variable
$font-stack: Arial, Helvetica, sans-serif;
// $primary-color: #e0ffff;
$primary-color: #0e6f87;
$secondary-color: #e67b02;


// Set text color based on bg

@function set-text-color($color){
    @if(lightness($color) > 70){
            @return #333;
    } @else {
            @return #fff;
    }
}

// Set backgroung and text color

@mixin set-background($color){
    background-color: $color;
    color: set-text-color($color);
}