$primary-color: #272727;
$accent-color: #ff652f;
$text-color: #fff;
$paragraph-font-size: 18px;

$mobile: 800px;

    // Defining a Map
$font-weights: (
    "regular": 400,
    "medium" : 500,
    "bold": 700
);